@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@300;400;500;600&display=swap');

/*-------------fixed for testing---*/
*{
  margin: 0;
  padding: 0;
  border: 0;
}

h4{
    font-family: 'Sansita Swashed', Helvetica, sans-serif;
    font-weight: 400px;
}

body{
  font-family: arial;
  font-size: 16px;
  line-height: 1.5em;
  color: #F000AA;
}

a{
    color: #ffabcd
}


/*-------------Colors---*/

.bg-site-main-color{
    background-color: #99eeff;
}

.bg-section{
    background-color: #ccddff;
}

.main-site-color{
    color: rgb(110, 110, 110)
}
.main-site-color a{
    color: rgb(110, 110, 110)
}
.elements-color{
    color: #ff6600;
}

/*-------------Navigation---*/

nav li a:hover{
    transition: all 0.5s;
    color:#ff9000 !important;
    font-weight: normal;
    font-size:110%;
}

/*-------------Text style---*/

.text-main-style{
    text-align: center;
    text-transform: uppercase;

}
.h4-text-style{
    padding: 20px 0px;
    font-size: 30px;
    font-weight: 300;
    text-transform: capitalize;
    letter-spacing: 4px;
    text-decoration: underline;
    text-decoration-color: #ff9000;
}

.col-style{
    margin-top: 30px;
    margin-bottom: 20px;
}




/*-------------Article---*/



/*-------------Footer---*/
.no-row-margin{
    margin-left: 0;
    margin-right: 0;    
}

footer li{
     display: inline;
}

footer ul{
  padding-top: 15px;
}

.no-border{
    border: none;
    border-radius: 0px;
}

.social-links { 
    font-size:125%;
    text-align: center;
    padding-left:25px;
}

.social-links li {
    padding: 25px 25px 0px 25px;  
}

.social-links h6{
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 20px;
}

footer a:hover{
    transition: all 0.5s;
    color: #ff9000;
    font-weight: normal;
    font-size:115%;
}






article{
    padding-top: 80px;

}

section{
        
}
