/*-------------fixed for testing---*/
*{
  margin: 0;
  padding: 0;
  border: 0;
}

body{
  font-family: Arial;
  font-size: 16px;
  line-height: 1.5em;
  color: #F000AA;
}

a{
    color: #ffabcd
}

/*-------------Colors---*/

.bg-site-main-color{
    background-color: #99eeff;
}

#bg-color-navbar{
    background-color: #99eeff;
}

.icon-color{
    color: rgb(110, 110, 110)
}


/*-------------Footer---*/

footer li{
     display: inline;
     text-align: center;
}

footer ul{
  padding-top: 15px;
}

.no-border{
    border: none;
    border-radius: 0px;
}

.social-links { 
    font-size:125%;
    text-align: center;
}

.social-links li {
    margin-right: 35px;
}










article{
    margin-top: 80px;

}

section{
    height: 200px;
    
}
